*{
  border: 0;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e0e4e4;
}

html,
body{
  min-height: 100%;
  height: 100%;
}

#wrap{ min-height: 100%; }

body{
  background-color: @body-bg;
  color: @base-color;
  font: 16px 'Roboto', sans-serif;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  ._transition(0.2s);
  min-height: 650px;
  /* min-width: 600px; */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block; }

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea{
  ._box-sizing;
  width: 100%;
  height: 2.875em;
  border: 1px solid @input-border;
  ._border-radius(2px);
  font: 1em 'Roboto', sans-serif;
  padding: 0.5em 10px;
}

textarea{
  min-height: 110px;
  resize: vertical;
}

input[type="button"],
input[type="submit"],
button{ cursor: pointer; }

::-webkit-input-placeholder{
  font-style: normal;
  color: @placeholder-color;
}

:-moz-placeholder{
  font-style: normal;
  color: @placeholder-color;
}

::-moz-placeholder{
  font-style: normal;
  color: @placeholder-color;
}

:-ms-input-placeholder{
  font-style: normal;
  color: @placeholder-color;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.button {
  background: @button-bg;
  color: @button-color;
  font: 1.125em 'Roboto', sans-serif;
  text-align: center;
  padding: 0.44em 2.44em;
  display: inline-block;
  height: 2.22em;
  max-width: 100%;
  ._box-sizing;
  ._border-radius(5px);
  ._box-shadow(~"0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 -1px 1px rgba(255, 255, 255, 0.2) inset");

  &:hover { background: lighten(@theme-color, 5%); }

  &--big {
    font-size: 1.6875em;
    font-weight: 500;
    height: 2.59em;
    padding: 0.66em 3.14em; 
    width: 100%;
    max-width: 320px;
  } 
}