@import "mixins";
@import "vars";
@import "base";

.section {
	overflow-x: hidden;

	&__inner {
		height: 100%;
		position: relative;
		._box-sizing;
	}

	&--centered {
		display: table;
		width: 100%;

		.section__inner {
			display: table-cell;
			height: 100%;
			vertical-align: middle;
			text-align: center;
		}
	}

	&--start {
		.section__inner { padding-bottom: 235px; }

		.top-section {
			background: url('@{img-url}/main-bg.jpg');
			background-size: cover;
			padding-top: 80px;
			._box-sizing;
			position: relative;
			z-index: 2;
			height: 100%;

			&:before {
				background: url('@{img-url}/top-shadow.png');
				width: 773px;
				height: 170px;
				position: absolute;
				left: 50%;
				top: 0;
				margin-left: -387px;
				content: "";
			}

			> * {
				position: relative;
				z-index: 2;
			}

			&:after {
				background: url('@{img-url}/bus.png');
				width: 537px;
				height: 222px;
				position: absolute;
				left: 50%;
				bottom: 0;
				margin-left: -268px;
				content: "";
			}
		}

		.logo {
			background: url('@{img-url}/text_logo.png');
			width: 315px;
			height: 56px;
			margin: 0 auto;
			text-indent: -9999px;
			display: block;
		}

		.text-logo {
			margin-top: 1em;
			text-align: center;
			font-size: 2.5em;
			line-height: 1.1em;
			color: #fff;
		}

		.bottom-section {
			background: rgb(254,254,254);
			background: -moz-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%,rgba(255,255,255,1) 100%);
			background: -o-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%,rgba(255,255,255,1) 100%);
			background: -ms-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%,rgba(255,255,255,1) 100%);
			background: radial-gradient(ellipse at center,  rgba(254,254,254,1) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ffffff',GradientType=1 );
			border-top: 5px solid #d9e0e0;
			display: table;
			width: 100%;
			height: 230px;
			position: absolute;
			left: 0;
			bottom: 0;

			&__col {
				._box-sizing;
				display: table-cell;
				padding: 30px 20px 30px 50px;
				width: 50%;
				height: 100%;
				vertical-align: top;
			}

			&__title {
				color: @theme-color;
				font-size: 2em;
				line-height: 1.2em;
				margin-bottom: 0.68em;
			}

			&__text {
				font-size: 1.125em;
				color: #5a5f65;
			}
		}
	}
}

/* page navigation */
.page-navigation {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 10px;

	&-wrap {
		display: table;
		position: fixed;
		width: 10px;
		height: 100%;
		left: 30px;
		top: 0;
		font-size: 0;
		z-index: 10;
	}

	&__item {
		background: @img-url-sprite 0 -10px;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 5px 0;
	}

	&__item.current { background-position: 0 0; }
}
/**/

/* registration form */
.data-form {
	width: 310px;
	display: inline-block;
	text-align: left;

	&__title {
		color: @theme-color;
		font-size: 2em;
		line-height: 1.2em;
		text-align: center;
		margin-bottom: 1.5em;
	}

	&__row {
		.clearfix;
		margin-bottom: 1.25em;

		&--submit { margin: 3.125em 0 0; }
	}
}
/**/

/* map */
.map {
	height: 100%;
	font-size: 0;

	img {
		width: 100%;
		height: 100%;
	}

	&-wrap {
		padding-right: 400px;
		._box-sizing;
		height: 100%;
	}
}

.search-bar {
	background: #eff2f2;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 400px;
	padding: 60px 5px 120px;
	._box-sizing;
}

.search-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 110px;
}

.search-field {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 12px;

	&:after {
		background: @img-url-sprite -10px 0;
		position: absolute;
		right: 6px;
		top: 4px;
		content: "";
		z-index: 1;
		width: 26px;
		height: 26px;
	}

	.add-location {
		height: 34px;
		line-height: 34px;
		right: 0;
		top: 0;
		padding: 0 5px;
		background: #fff;
		color: @theme-color;
		font-size: 1em;
		display: none;
		position: absolute;
		z-index: 2;
	}

	&.add {
		.add-location,
		.search-results { display: block; }
	}
}

.search-results {
	position: absolute;
	top: 34px;
	width: 100%;
	left: 0;
	max-height: 200px;
	overflow: auto;
	background: #f8f8f8;
	display: none;

	&__item {
		cursor: pointer;
		color: #3d505a;
		padding: 0.5em 10px;

		&:hover { background: #fff; }
	}
}

.search-input,
input.search-input {
	border: 0;
	height: 34px;
}

.search-list {
	height: 100%;
	overflow: auto;
	max-height: 270px;

	&__item {
		padding: 5px 70px 5px 10px;
		position: relative;
		color: #5a5f65;
		height: 28px;
		font-size: 0.8em;
		._box-sizing;
		cursor: default;

		.title {
			display: inline-block;
			white-space: nowrap;
			text-overflow: collapse;
			overflow: hidden;
			max-width: 100%;
		}

		&:hover {
			background: #fff;
			._border-radius(2px);

			.add-point { display: block; }

			.remove:before { background-position: -20px -30px; }
		}

		.remove,
		.add-point {
			position: absolute;
			height: 28px;
			width: 28px;
			cursor: pointer;
			top: 0;

			&:before {
				background-image: @img-url-sprite;
				position: absolute;
				left: 50%;
				top: 50%;
				content: "";
			}
		}

		.remove {
			right: 10px;

			&:before {
				background-position: 0 -30px;
				width: 12px;
				height: 12px;
				margin: -6px 0 0 -6px;
			}
		}

		.add-point {
			right: 38px;
			display: none;

			&:before {
				background-position: 0 -20px;
				width: 10px;
				height: 10px;
				margin: -5px 0 0 -5px;
			}
		}
	}
}
/**/

/* search-footer */
.search-footer {
	background: @search-footer-bg;
	padding: 0.857em 0.857em 1.4285em;
	display: table;
	width: 100%;
	font-size: 14px;
	._box-sizing;

	> * {
		display: table-cell;
		vertical-align: top;
		text-align: center;
	}

	&__title,
	&__result {
		line-height: 1.1em;
		padding: 0 8px;
	}

	&__title { color: #909696; }

	&__controls { width: 214px; }

	&__result { color: #5a5f65; }

	.button {
		width: 190px;
		margin-top: 16px;
	}
}
/**/

/* ui slider */
.ui-slider {
	background: @slider-bg;
	height: 2px;
	position: relative;

	&-wrap {
		position: relative;
		width: 214px;
		padding: 8px 12px;
		._box-sizing;
	}

	&-handle {
		position: absolute;
		background: @img-url-sprite -40px 0;
		width: 24px;
		height: 24px;
		top: 50%;
		margin: -12px 0 0 -12px;
		cursor: pointer;
	}
}
/**/


@media screen and (max-width: 1200px) {
	.section--start .bottom-section { height: 150px; }

	.section--start .bottom-section__col { padding: 10px 10px 10px 20px; }

	.section--start .section__inner { padding-bottom: 155px; }

	.section--start .top-section { padding-top: 30px; }

	.section--start .text-logo { margin-top: 20px; }
}

@media screen and (max-height: 650px),
	   screen and (max-width: 1024px) {
	body { font-size: 0.8em;}

	.section--start .top-section { padding-top: 30px; }

	.section--start .text-logo { margin-top: 20px; }
}

@media screen and (max-height: 560px),
	   screen and (max-width: 766px) {
   	body { font-size: 0.8em;}

	.section--start .top-section:after {
		width: 240px;
		height: 100px;
		background-size: 240px 100px;
		margin-left: -120px;
	}

	.section--start .logo {
		width: 170px;
		height: 30px;
		background-size: 170px 30px;
	}
}

@media screen and (max-width: 720px) {
	.data-form {
		width: 100%;
		._box-sizing;
		padding: 0 0 0 30px;

		&__row {
			float: left;
			width: 50%;
			._box-sizing;
			padding-right: 30px;

			&--submit {
				width: 100%;
				clear: both;
				text-align: center;
			}
		}
	}

	.page-navigation-wrap { left: 10px; }

	.map-wrap { padding-right: 320px; }

	.search-bar {
		width: 320px;
		padding: 60px 5px 90px;
		
		.search-footer {
			height: 90px;
			font-size: 11px;
			padding: 0.5em;

			&__controls { width: 190px; }
		}

		.ui-slider-wrap { width: 190px; }
	}
}

@media screen and (max-width: 600px) {
	body { font-size: 0.6em;}
	.section--start .bottom-section__title { font-size: 1.5em; }
	.page-navigation-wrap { left: 5px; }
}

@media screen and (max-height: 520px) {
	.section--start .top-section { padding-top: 10px; }
	.section--start .top-section:after {
		width: 168px;
		height: 70px;
		background-size: 168px 70px;
		margin-left: -84px;
	}
}

@media screen and (max-width: 500px) {
	.data-form {
		padding: 0 0 0 20px;

		&__row {
			float: none;
			width: 100%;
			padding-right: 20px;
		}
	}
}

@media screen and (max-width: 480px) {
	.map-wrap { padding-right: 240px; }

	.search-bar {
		width: 240px;
		padding: 60px 5px 90px;
		
		.search-footer {
			height: 90px;
			font-size: 11px;
			padding: 0.5em 40px 0.5em 0.5em;
			display: block;

			&__title { margin-bottom: 5px; }

			> * { display: block; }

			.button {
				margin-top: 10px;
				width: auto;
			}

			&__result {
				position: absolute;
				right: 0;
				top: 25px;
				width: 40px;
				text-align: right;
				padding-right: 5px;
			}
		}

		.ui-slider-wrap { width: 190px; }
	}
}

@media screen and (max-width: 380px) {
	.map-wrap { padding-right: 180px; }

	.search-bar {
		width: 180px;
		padding: 60px 5px 90px;
		
		.search-footer {
			&__controls { width: 130px; }
		}

		.ui-slider-wrap,
		.search-footer__controls { width: 130px; }
	}
}

@media screen and (max-width: 340px) {
	.section--start .bottom-section { height: 180px; }

	.section--start .section__inner { padding-bottom: 185px; }
}
