.clearfix {
	&:before, &:after {
    content: " ";
    display: table;
	}
	&:after { clear: both; }
	*zoom: 1;
}

._border-radius(@r: 5px) {
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
	border-radius: @r;
}

._box-shadow(@s) {
  -webkit-box-shadow: @s;
  -moz-box-shadow: @s;
  box-shadow: @s;
}

._box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

._transition(@s) {
  -webkit-transition: all @s ease;
  -moz-transition: all @s ease;
  transition: all @s ease;
}
