/* base */
@img-url: '../images';
@img-url-sprite: url('@{img-url}/sprite.png');

@placeholder-color: #909696;

@body-bg: #fff;
@base-color: #000;
@theme-color: #f86433;

@input-border: #e5e5e5;

@button-bg: @theme-color;
@button-color: #fff;

@search-footer-bg: #f6f8f8;
@slider-bg: #b2b6b6;
/**/
