/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.map-legend {
    color: #909696;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 110px;
    height: 100px;
    border: 10px;
    margin-left: 10px;
    padding: 5px;
}
.circle {
    font-size:12px;
    line-height:100px;
    text-align:center;
    background:#fff;

    display:block;
    width:33px;
    height:33px;
    border-radius:22px;
    border:4px double #ccc;
    color:#666;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 0 #eee;
}
.circle:hover{
    border:4px double #bbb;
    color:#aaa;
    text-decoration:none;
}
